{% extends 'base.html' %} {% load static %}
<!-- Title Combinados.net -->
{% block title %}
<title>Combinandos.net</title>
{% endblock title %} {% block header %}
<!--Header -->
{% include 'core/components/header.html' %}
<!--End Header -->
{% endblock header %} {% block content %}
<!--Heroe Combinados.net-->
{% include 'core/components/main.html' %}
<!--End Heroe -->
{% endblock content%} {% block footer %}
<!--Footer-->
{% include 'core/components/footer.html' %}
<!--End Footer-->
{% endblock footer %}
