{% extends 'base.html' %} {% load static %}
<!-- Title Combinados.net -->
{% block title %}
<title>Combinandos.net</title>
{% endblock title %} {% block header %}
<!--Header Combinados.net -->
{% include 'core/components/header.html' %}
<!--End Header Conbinados.net -->
{% endblock header %}


{% block content %}
<div class="container mydiv">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda totam harum numquam nihil, qui eligendi voluptatum explicabo veritatis magni fuga iusto saepe alias ad expedita dignissimos rerum odio? Qui, labore?</p>
</div>
{% endblock content %}