{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}
    <title>Document</title>
    {% endblock title %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>
  <body>
    {% block header %}
    <!--Header-->
    {% include 'base/components/header.html' %} {% endblock header %}
    <!--End Header-->
    {% block content %}
    <!--Content-->
    <p>Conteúdo do site</p>
    {% endblock content %}
    <!--End Content-->
    {% block footer %} ]
    <h1>Aqui é o rodapé</h1>
    {% endblock footer %}
    <script src="{% static 'scripts.js' %}"></script>
  </body>
</html>
