{% load static %}
<section id="main">
  <div class="div-main d-flex text-center align-items-center">
    <div class="col-lg-6 mx-auto">
      <h1 class="display-5 fw-bold">Crie já seu combinado</h1>
      <p class="fs-5 mb-4">Rápido, fácil e prático.</p>
      <!--
      <div class="container">
        <img class="img-fluid" src="{% static 'img/teste.png' %}" alt="" />
      </div>
      -->
      <a href="{% url 'criar-combinado' %}">
        <button
          type="button"
          class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold button-heroe"
        >
          Crie seu combinado
        </button>
      </a>
    </div>
  </div>
</section>
